main {
  width: 1000px;
  height: 1000px;
}

.scoreboard {
  width: 150px;
  height: 150px;
  float: right;
}

.player-box{
  float left;

}

.cell {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: red; 
  border: 1px solid black;
  border: 1px solid black;
  margin-right: -5px;
  margin-bottom: -1px;
  vertical-align: top;
}

ul {
  list-style-type: none;
  display: block;
}

buttons