main {
  width: 1000px;
  height: 1000px;
  float: left;
}

.scoreboard {
  width: 200px;
  height: 200px;
  float: right;
  clear: both;
}

.player-box{
  float left;

}

.cell {
  display: inline-block;
  width: 175px;
  height: 175px;
  background: red; 
  border: 1px solid black;
  border: 1px solid black;
  margin-right: -5px;
  margin-bottom: -1px;
  vertical-align: top;
  line-height: 200px;
  font-size: 80px;
}