.container {
  width: 900px;
  height: 900px;
  margin: auto;
}

.cell {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border: 1px solid black;
  margin-right: -5px;
  margin-bottom: -1px;
  vertical-align: top;
  line-height: 200px;
  font-size: 80px;
}